body {
	margin: 0;
	padding: 1rem;
	font-size: 2rem;
	font-family: 'Inconsolata', 'Hack', monospace;
	background: #161821;
	color: #c6c8d1;
}

a {
	display: inline-block;
	color: #e9b189;
	padding: 1rem 3rem 1rem 1rem;
}

a:hover,
a:focus {
	color: #89b8c2;
}

p {
	margin: 0;
	padding: 1rem;
}

.crypto-price {
	display: inline-block;
	font-size: 1.4rem;
	padding: .6rem 2rem .6rem 1rem;
	white-space: nowrap;
}

.links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.profit {
	color: #b4be82;
}

.loss {
	color: #e27878;
}
