body {
	margin: 0;
	padding: 1rem;
	font-size: 1.5rem;
	font-family: 'Hack', monospace;
    background: #282828;
    color: #ebdbb2;
}

a {
	display: inline-block;
    color: #458588;
	padding: 1rem 3rem 1rem 1rem;
}

a:hover,
a:focus {
    color: #b16286;
}

p {
	margin: 0;
	padding: 1rem;
}

.crypto-price {
	display: inline-block;
	font-size: 1.3rem;
	padding: .6rem 2rem .6rem 1rem;
	white-space: nowrap;
}

.links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.profit {
    color: #98971a;
}

.loss {
    color: #cc241d;
}

#crypto {
	margin: 2rem 0;
}
