body {
	margin: 0;
	padding: 1rem;
	font-size: 1.5rem;
	font-family: 'Hack', monospace;
    background: #161821;
    color: #d2d4de;
}

a {
	display: inline-block;
    color: #84a0c6;
	padding: 1rem 3rem 1rem 1rem;
}

a:hover,
a:focus {
    color: #a093c7;
}

p {
	margin: 0;
	padding: 1rem;
}

.crypto-price {
	display: inline-block;
	font-size: 1.3rem;
	padding: .6rem 2rem .6rem 1rem;
	white-space: nowrap;
}

.links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.profit {
    color: #b4be82;
}

.loss {
    color: #e27878;
}

#crypto {
	margin: 2rem 0;
}
